.main{
    /* border: 2px solid black; */
    height: 1000px;
    margin: 12px 20px 5px 20px;
    display: flex;
    flex-direction: column;
}

.profile{
    /* border: 2px solid black; */
    display: flex;
    width: 1400px;
    flex-direction: column;
}

.br{
    /* border: 2px solid black; */
}

.tx{
    font-size: large;
    margin-top: 5px;
}
a{
    text-decoration: none;
}

.ix--user-profile-filled {
  display: inline-block;
  width: 50x;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%238a8181' fill-rule='evenodd' d='M256 42.667A213.333 213.333 0 0 1 469.334 256c0 117.821-95.513 213.334-213.334 213.334c-117.82 0-213.333-95.513-213.333-213.334C42.667 138.18 138.18 42.667 256 42.667m21.334 234.667h-42.667c-52.815 0-98.158 31.987-117.715 77.648c30.944 43.391 81.692 71.685 139.048 71.685s108.104-28.294 139.049-71.688c-19.557-45.658-64.9-77.645-117.715-77.645M256 106.667c-35.346 0-64 28.654-64 64s28.654 64 64 64s64-28.654 64-64s-28.653-64-64-64'/%3E%3C/svg%3E");
  position: relative;
  left: 650px;
  bottom: 75px;
}
.search{
    width: 1300px;
    height: 50px;
    border-radius: 10px;
    border-color: black;
}

.title{
    /* border: 2px solid black; */
    margin-top: 12px;
    width: 1000px;
    margin-left: 200px;
    height: 500.8px;
    background-image: url(https://instamart-media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_2880/MERCHANDISING_BANNERS/IMAGES/MERCH/2025/9/19/30d018e4-4839-4210-843f-9be84f55a73d_HeaderMHNew20.png);
     background-size: 100%;
    background-repeat: no-repeat;
   background-attachment: local;
    display: flex;
   align-items: end;
   justify-content: center;
}

.size{
    width: 100px;
    margin-right: 22px;
    
}

.item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.shoping{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    margin: 12px;
}

.shop{
    border: 2px solid rgb(139, 139, 139);
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.buy{
    width: 150px ;
}

.type{
    display: flex;
    /* border: 2px solid black; */
    margin: 12px;
    /* justify-content: space-around; */
}